<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.BoardMapper">
  <select id="proList" resultType="Product" parameterType="hashmap"> 
  	select p.pro_no, p.pro_name, p.price, p.category, p.main_img fileurl, p.date, p.bis_name, m.prim 
            from  product p ,member m 
            where p.bis_no = m.bis_no 
            and p.category = '${category}' 
			    <choose>
			    	<when test="searchType != null and searchContent != null and group == null">
			    		and ${searchType} like '%${searchContent}%' order by p.date desc limit ${startrow}, ${endrow} 
			    	</when>
			    	<when test="searchType != null and searchContent != null and group == 'premium'">
			    		and ${searchType} like '%${searchContent}%' order by m.prim desc, p.date desc limit ${startrow}, ${endrow}                                
			    	</when>
			    	<when test="searchType != null and searchContent != null and group == 'high'">
			    		and ${searchType} like '%${searchContent}%' order by p.price desc, p.date desc limit ${startrow}, ${endrow}  
			    	</when>
			    	<when test="searchType != null and searchContent != null and group == 'low'">
			    		and ${searchType} like '%${searchContent}%' order by p.price asc, p.date desc limit ${startrow}, ${endrow}  
			    	</when>
			    	<when test="group == null or group == ''">
			    		 order by p.date desc limit ${startrow}, 20
			    	</when>
			    	<when test="group == 'premium'">
			    		 order by m.prim desc, p.date desc limit ${startrow}, 20                              
			    	</when>
			    	<when test="group == 'high'">
			    		 order by p.price desc, p.date desc limit ${startrow}, 20
			    	</when>
			    	<when test="group == 'low'">
			    		 order by p.price asc, p.date desc limit ${startrow}, 20
			    	</when>
			    </choose> 
  </select>
  
  <select id="totalList" resultType="Product" parameterType="hashmap"> 
  	select p.pro_no, p.pro_name, p.price, p.category, p.main_img fileurl, p.date, p.bis_name, m.prim 
            from  product p ,member m 
            where p.bis_no = m.bis_no 
    <if test="searchType != null and searchContent != null">
      and ${searchType} like '%${searchContent}%' order by p.date desc limit ${startrow}, 20 
    </if>       
  </select>            
  
  <select id="proCount" resultType="int" parameterType="map">
    select count(*) from product where category = '${category}'
    <if test="searchType != null and searchContent != null">
      and ${searchType} like '%${searchContent}%' 
    </if>
  </select>
  
  <select id="totalCount" resultType="int" parameterType="map">
    select count(*) from product
    <if test="searchType != null and searchContent != null">
      where ${searchType} like '%${searchContent}%' 
    </if>
    <if test="searchType == null and searchContent == null">
      where category = 'java'
    </if>
  </select>
  
  <select id="centerCount" resultType="int" parameterType="map">
    select count(*) from board
    <if test="searchType != null and searchContent != null">
      where ${searchType} like '%${searchContent}%' and board_type = 1
    </if>
    <if test="searchType == null and searchContent == null">
      where board_type = 1
    </if>
  </select>
  
   <select id="centerList" resultType="Board" parameterType="map">
    select board_no, id, pass, subject, content, board_type, regdate, readcnt, ans_chk, img1 fileurl, 
    img2 fileurl2, img3 fileurl3 from board 
    <if test="searchType != null and searchContent != null">
      where ${searchType} like '%${searchContent}%' and board_type = 1 limit ${startrow}, ${endrow} 
    </if>
    <if test="searchType == null and searchContent == null">
      where board_type = 1 order by board_no desc limit ${startrow}, ${endrow}
    </if>
   <!-- 	select * from ( select rownum rnum, num, id, pass, subject, content, regdate, readcnt, ref, reflevel, 
   	refstep, img1, img2, img3 from ( select * from board
    order by ref desc, refstep asc )) where rnum &gt;= #{startrow} and rnum &lt;= #{endrow} -->
  </select>
  
  <select id="qnaCount" resultType="int" parameterType="map">
    select count(*) from board
    <if test="searchType != null and searchContent != null">
      where ${searchType} like '%${searchContent}%' and board_type = 2 and pro_no = ${pro_no}
    </if>
    <if test="searchType == null and searchContent == null">
      where board_type = 2 and pro_no = ${pro_no}
    </if>
  </select>
  
  <select id="qnaList" resultType="Board" parameterType="map">
    select board_no, id, pass, subject, content, board_type, regdate, readcnt, ans_chk, img1 fileurl, 
    img2 fileurl2, img3 fileurl3 from board 
    <if test="searchType != null and searchContent != null">
      where ${searchType} like '%${searchContent}%' and board_type = 2 and pro_no = '${pro_no}' limit ${startrow}, ${endrow} 
    </if>
    <if test="searchType == null and searchContent == null">
      where board_type = 2 and pro_no = '${pro_no}' order by board_no desc limit ${startrow}, ${endrow}
    </if> 
  </select>
  
  <select id="reCount" resultType="int" parameterType="map">
    select count(*) from board
    <if test="pro_no != null">
      where board_type = 3 and pro_no = ${pro_no}
    </if>
    <if test="pro_no == null">
      where board_type = 3
    </if>
  </select>
  
  <select id="reList" resultType="Board" parameterType="map">
    select board_no, id, pass, subject, content, board_type, regdate, readcnt, ans_chk, img1 fileurl from board 
    <if test="pro_no != null">
      where board_type = 3 and pro_no = '${pro_no}' order by board_no desc limit ${startrow}, ${endrow} 
    </if>
    <if test="pro_no == null">
      where board_type = 3 and order by board_no desc limit ${startrow}, ${endrow}
    </if> 
  </select>
  
  <select id="checkUser" resultType="Trade" parameterType="map">
    select buy_id from trade where buy_id = '${userid}' and pro_no=${pro_no} 
  </select>
  
  <select id="inter" resultType="Product" parameterType="hashmap">
	select main_img fileurl from product
		<if test="inter == null">
			where category=#{inter }
		</if>
	ORDER by date desc LIMIT 4
  </select>
  
  
   
</mapper>