<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.TradeMapper">
	<!-- 리스트 출력 쿼리문 -->
	<select id="tradeList" parameterType="hashmap" resultType="trade">
		select t.*, p.pro_name, p.bis_name
		  from trade t, product p
		 <choose>
		 	<when test="type == 1">
		  		where buy_id = #{id}
		  		  and t.pro_no=p.pro_no 
		 		  and p.bis_no=(select m.bis_no from member m where m.bis_no=p.bis_no) 
		  	</when>
		  	
		  	<when test="type == 2">
				where sell_id = #{id}
				  and t.pro_no=p.pro_no 
				  and p.bis_no=(select m.bis_no from member m where m.bis_no=p.bis_no) 
			</when>
			
			<when test="type == 3">
				where t.pro_no=p.pro_no 
				  and p.bis_no=(select m.bis_no from member m where m.bis_no=p.bis_no) 
			</when>
		 </choose>
	   order by trd_no desc limit ${startrow}, 10
	</select>
	
	<select id="moneyChangeList" parameterType="hashmap" resultType="trade">
		select p.pro_name, t.trd_money, t.trd_date, t.trd_fee, t.sell_id, m.bis_name
		  from trade t, product p, member m
		 <choose>
		 	<when test="type == 1">
		  		where t.buy_id = #{id}
		  		  and t.sell_id = m.id
		  	</when>
		  	
		  	<when test="type == 2">
				where t.sell_id = #{id}	
				  and t.sell_id = m.id
			</when>
			
			<when test="type == 3">
				where t.sell_id = m.id
			</when>
		 </choose>
		 and t.pro_no = p.pro_no
	   order by trd_no desc limit ${startrow}, 10
	</select>
	
	<select id="delvpageList" parameterType="hashmap" resultType="trade">
		select t.trd_code, t.trd_money, t.trd_date, t.delivery, t.buy_id, p.pro_name, p.bis_name
          from trade t,product p 
		 <choose>
		 	<when test="type == 1">
		  		where buy_id = #{id}
		  		  and t.pro_no=p.pro_no 
		  	</when>
		  	
		  	<when test="type == 2">
				where sell_id = #{id}
				  and t.pro_no=p.pro_no 
			</when>
		 </choose>
	   order by trd_no desc limit ${startrow}, 10
	</select>
	
	<select id="couponList" parameterType="hashmap" resultType="coupon_history">
		select c.id, c.discount, c.chk, m.bis_name
		  from coupon_history c, member m 
		 <choose>
		 	<when test="type == 1">
		  		where c.id = #{id}
		  	</when>
		  	
		  	<when test="type == 2">
				where m.id = #{id}
			</when>
		 </choose>
		 
		 <if test="discount != 0">
		 	and c.discount = #{discount}
		 </if>
		 and c.bis_no=m.bis_no
	   order by c.his_no desc limit ${startrow}, 10; 
	</select>
	
	<!-- 카운팅 쿼리문 -->
	
	<select id="tradeCount" parameterType="hashmap" resultType="int">
		select count(*)
		  from trade
		 <choose>
		 	<when test="type == 1">
		  		where buy_id = #{id}
		  	</when>
		  	
		  	<when test="type == 2">
				where sell_id = #{id}	
			</when>
		 </choose>
	</select>
	
	<select id="delvpageCount" parameterType="hashmap" resultType="int">
		select count(*)
		  from trade t,product p 
		 <choose>
		 	<when test="type == 1">
		  		where t.buy_id = #{id}
		  	</when>
		  	
		  	<when test="type == 2">
				where t.sell_id = #{id}	
			</when>
		 </choose>
		  and t.pro_no=p.pro_no
	</select>
	
	<select id="moneyChangeCount" parameterType="hashmap" resultType="int">
		select count(*)
		  from trade t, product p, member m
		 <choose>
		 	<when test="type == 1">
		  		where t.buy_id = #{id}
		  		  and t.sell_id = m.id
		  	</when>
		  	
		  	<when test="type == 2">
				where t.sell_id = #{id}	
				  and t.sell_id = m.id
			</when>
			
			<when test="type == 3">
				where t.sell_id = m.id
			</when>
		 </choose>
		 and t.pro_no = p.pro_no
	</select>
	
	<select id="couponCount" parameterType="hashmap" resultType="int">
		select count(*)
		  from coupon_history c, member m 
		 <choose>
		 	<when test="type == 1">
		  		where c.id = #{id}
		  	</when>
		  	
		  	<when test="type == 2">
				where m.id = #{id}
			</when>
		 </choose>
		 
		 <if test="discount != 0">
		 	and c.discount = #{discount}
		 </if>
		 and c.bis_no=m.bis_no
	</select>
</mapper>